@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #09090b; /* zinc-950 */
}
::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* zinc-700 */
}
